<style>
        footer {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        </style>

<p>&copy; 2022 My Website. All rights reserved.</p>
